body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ===== COVER DECORATION ====== */
#black-cover {
  text-align: center;

  color: white;
  background-color: black;
  height: 115vh;
}

#subtitle,
.click {
  display: none;
  opacity: 0;
}

/* <<<<<< COVER TITLE SLIDE >>>>>>>> */
#cover-title {
  text-align: center;
  font-size: 150px;
  animation: font-size-keyframes 1.5s;

  padding-top: 260px;
}

@keyframes font-size-keyframes {
  0% {
    font-size: 850px;
    padding: 0;
    margin: -100px 0 0 -300px;
  }
  100% {
    font-size: 150px;
    padding-top: 260px;
  }
}

/* ===== ARROW ANIMATION ====== */
.down-arrow {
  display: none;
  opacity: 0;
  position: absolute;

  color: white;

  width: 0;
  height: 30px;

  top: calc(100vh - 80px);
  left: calc(50% - 14px);

  border: 2px solid;
  border-radius: 2px;

  animation: jumpInfinite 1.5s infinite;
  cursor: pointer;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

/* ===== HEADER DECORATION ====== */
.navigation-header {
  display: flex;
  justify-content: space-between;
  position: static;

  margin-top: 50px;
}

.logo {
  width: 45px;
  height: 45px;
}

button {
  font-size: 20px;

  border: none;
  background-color: transparent;

  margin-top: 20px;
}

button:hover {
  color: rgb(32, 98, 178);
  cursor: pointer;
  text-shadow: #b3e0fefd;
}

/* <<<<<< TOP-NAVIGATION SETTING >>>>>>>>> */

@media (min-width: 769px) and (max-width: 1600px) {
  /* ===== NAVIGATION IN MOBILE ENVIRONMENT ====== */
  .topnav {
    display: none;

    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  .topnav #navlinks {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #04aa6d;
    color: white;
  }
}

@media (max-width: 768px) {
  #main-nav {
    display: none;
  }
  /* ===== NAVIGATION IN MOBILE ENVIRONMENT ====== */
  .topnav {
    display: block;

    overflow: hidden;
    background-color: #333;
    position: relative;

    cursor: pointer;
  }

  .nav-menu {
    width: 70px;
    height: 50px;

    cursor: pointer;
  }

  .x-button {
    display: none;

    width: 70px;
    height: 50px;

    cursor: pointer;

    margin-left: 407px;
  }

  .image-column {
    background-color: white;
  }

  .topnav #nav-links {
    display: none;

    cursor: pointer;
  }

  .topnav a {
    text-decoration: none;
    font-size: 15px;

    color: white;
    width: 600px;
    height: 50px;

    padding: 10px 7px;
    display: block;
  }

  .topnav a.icon {
    background: black;
    display: block;

    position: absolute;

    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #04aa6d;
    color: white;
  }
}

@media (max-width: 330px) {
  #main-nav {
    display: none;
  }

  /* ===== NAVIGATION IN MOBILE ENVIRONMENT ====== */
  .topnav {
    display: block;

    overflow: hidden;
    background-color: #333;
    position: relative;

    cursor: pointer;
  }

  .nav-menu {
    width: 70px;
    height: 50px;

    cursor: pointer;
    margin-left: 200px;
  }

  .x-button {
    display: none;

    width: 70px;
    height: 50px;

    cursor: pointer;

    margin-left: 200px;
  }

  .image-column {
    background-color: white;
  }

  .topnav #nav-links {
    display: none;

    cursor: pointer;
  }

  .topnav a {
    display: block;
    color: white;
    font-size: 15px;

    text-decoration: none;
    padding: 10px 7px;
  }

  .topnav a.icon {
    background: black;
    display: block;

    position: absolute;

    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #04aa6d;
    color: white;
  }
}

span {
  font-family: "Times New Roman", Times, serif;
}

/* ===== BACKGROUND MUSIC ====== */
.hover:hover {
  transition: all 1s ease-in-out;

  margin-left: 250px;
}

#background-music {
  border-radius: 25px;
  background-color: whitesmoke;
  width: fit-content;

  position: absolute;

  animation: slide-to-right 1.5s ease-in-out alternate,
    slide-to-left 1.5s ease-in-out 2s alternate;

  animation-fill-mode: forwards;

  margin: 20px 0 0 0;
}

@keyframes slide-to-right {
  0% {
    margin-left: -500px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes slide-to-left {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -300px;
    opacity: 0.3;
  }
}

#background-music p {
  margin: 25px 0 -3px 18px;
}

/* ===== PROFILE DECORATION ====== */
#profile-introduction {
  animation: fade-in;
}
@keyframes fade-in {
  0% {
    transform: translateY(-100);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.centered {
  text-align: center;
}

.responsive-design {
  height: 600px;

  margin-top: 10px;
}

.responsiveness {
  animation: font-changes 1.5s;
  animation-delay: 2s;

  font-size: 50px;
}

@keyframes font-changes {
  0% {
    font-size: 150px;
    padding: 0;
    margin: -200px 0 0 -300px;
  }
  100% {
    font-size: 50px;
  }
}

/* <<<<<<< MORE ANIMATION ON RESPONSIVE DESIGN >>>>>>>> */
@media (max-width: 1399px) {
  .responsive-design {
    margin-top: 10px;
  }

  .responsiveness {
    font-size: 50px;
  }

  @keyframes font-changes {
    0% {
      font-size: 150px;
      padding: 0;
      margin: 0px 0 0 -300px;
    }
    100% {
      font-size: 50px;
    }
  }
}

@media (max-width: 1280px) {
  .responsive-design {
    margin-top: 10px;
  }

  .responsiveness {
    font-size: 50px;
  }

  @keyframes font-changes {
    0% {
      font-size: 150px;
      padding: 0;
      margin: -100px 0 0 -300px;
    }
    100% {
      font-size: 50px;
    }
  }
}

@media (max-width: 992px) {
  .responsive-design {
    margin-top: 10px;
    margin-left: -50px;
  }

  .responsiveness {
    font-size: 40px;

    margin-left: 30px;
  }

  @keyframes font-changes {
    0% {
      font-size: 150px;
      padding: 0;
      margin: -100px 0 0 -300px;
    }
    100% {
      font-size: 40px;
    }
  }
}

@media (max-width: 768px) {
  .responsive-design {
    margin-top: 10px;
    margin-left: -150px;
  }

  .responsiveness {
    font-size: 40px;
    margin-left: 10px;
  }

  @keyframes font-changes {
    0% {
      font-size: 100px;
      padding: 0;
      margin: -100px 0 0 -300px;
    }
    100% {
      font-size: 40px;
    }
  }
}

@media (max-width: 330px) {
  .responsive-design {
    margin-top: 10px;
    margin-left: -100px;
  }

  .responsiveness {
    font-size: 35px;

    margin: 0 -280px 0 50px;
  }

  @keyframes font-changes {
    0% {
      font-size: 100px;
      margin: -300px 0 0 50px;
    }
    100% {
      font-size: 30px;
      margin: -150px 0 0 200px;
    }
  }
}

/* ========= PROFILE PICTURE DECORATION ========= */
@media (max-width: 1600px) {
  .profile-section {
    display: flex;
  }

  .profile {
    width: 600px;
    height: 650px;
    border-radius: 100%;
    margin: 80px 0 0 50px;
  }

  .first-slide {
    font-size: 50px;
    animation: slide-in 1.5s 3s;

    margin: 230px 0 0 100px;
  }

  .second-slide {
    font-size: 50px;
    animation: slide-in 1.5s 3.5s;

    margin: 0 0 0 100px;
  }

  .third-slide {
    font-size: 50px;
    animation: slide-in 1.5s 4s;

    margin: 0 0 0 100px;
  }

  .fourth-slide {
    font-size: 20px;
    animation: slide-in 1.5s 4.5s;

    margin: 0 0 0 100px;
  }

  @keyframes slide-in {
    0% {
      opacity: 0;
      color: white;
      transform: translateX(300px);
    }
    100% {
      opacity: 1;
      color: black;
      transform: translateX(0px);
    }
  }
}
@media (max-width: 1399px) {
  .profile-section {
    display: flex;
  }

  .profile {
    width: 600px;
    height: 650px;
    margin: 80px 0 0 15px;
  }

  .first-slide {
    font-size: 45px;
    margin: 270px 0 0 100px;
  }

  .second-slide,
  .third-slide {
    font-size: 45px;
    margin: 0 0 0 100px;
  }

  .fourth-slide {
    font-size: 20px;

    margin: 0 0 0 100px;
  }
}

@media (max-width: 1280px) {
  .profile-section {
    display: flex;
  }

  .profile {
    width: 600px;
    height: 650px;
    margin: 80px 0 0 15px;
  }

  .first-slide {
    font-size: 45px;
    margin: 270px 0 0 100px;
  }

  .second-slide,
  .third-slide {
    font-size: 45px;
    margin: 0 0 0 100px;
  }

  .fourth-slide {
    font-size: 20px;

    margin: 0 0 0 100px;
  }
}

@media (max-width: 992px) {
  .profile-section {
    display: flex;
  }

  .profile {
    width: 400px;
    height: 400px;

    margin: 80px 0 0 5px;
  }

  .first-slide {
    font-size: 30px;
    margin: 150px 0 0 50px;
  }

  .second-slide,
  .third-slide {
    font-size: 30px;
    margin: 0 0 0 50px;
  }

  .fourth-slide {
    font-size: 15px;

    margin: 0 0 0 50px;
  }
}

@media (max-width: 768px) {
  .profile-section {
    display: block;
  }

  .profile {
    width: 500px;
    height: 450px;

    margin: 80px 0 0 0;
  }

  .first-slide {
    font-size: 50px;
    width: 300px;
    margin: 20px 0 0 100px;
  }

  .second-slide,
  .third-slide {
    font-size: 50px;
    width: 400px;
    margin: 0 0 0 100px;
  }

  .fourth-slide {
    font-size: 15px;
    width: 400px;

    margin: -20px 0 0 100px;
  }
}

@media (max-width: 576px) {
  .profile-section {
    display: block;
  }

  .profile {
    width: 500px;
    height: 450px;

    margin: 80px 0 0 30px;
  }

  .first-slide {
    font-size: 50px;
    width: 300px;
    margin: 20px 0 0 100px;
  }

  .second-slide,
  .third-slide {
    font-size: 50px;
    width: 400px;
    margin: 0 0 0 100px;
  }

  .fourth-slide {
    font-size: 15px;
    width: 400px;

    margin: -20px 0 0 100px;
  }
}

@media (max-width: 330px) {
  .profile-section {
    display: block;
  }

  .profile {
    width: 500px;
    height: 450px;

    margin: 80px 0 0 30px;
  }

  .first-slide {
    font-size: 50px;
    width: 300px;
    margin: 20px 0 0 100px;
  }

  .second-slide,
  .third-slide {
    font-size: 50px;
    width: 400px;
    margin: 0 0 0 100px;
  }

  .fourth-slide {
    font-size: 15px;
    width: 400px;

    margin: -20px 0 0 100px;
  }
}

/* ===== DEV PROJECT DECORATION ====== */
.together {
  display: flex;
}

.dev-project-board,
.ux-project-board {
  border: 1px solid rgba(211, 211, 211, 0.348);
  border-radius: 25px;
  background-color: #f1f1f1dc;

  text-align: center;
}

.dev-project-board:hover,
.ux-project-board:hover {
  background-color: #a9afb338;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.dev-project-board img:hover,
.ux-project-board img:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* this is image */
.dev-project {
  width: 280px;
  height: auto;

  border-radius: 25px;

  margin: 20px 0 0 0;
}

.ux-project {
  width: 280px;
  height: 150px;

  border-radius: 25px;

  margin: 20px 0 0 0;
}

.undo-flex {
  display: block;
}

/* ===== DEV PROJECT DECORATION ====== */
@media (max-width: 1600px) {
  .straightened {
    display: flex;
  }

  .dev-project-board,
  .ux-project-board {
    width: 490px;
    height: 680px;

    margin: 70px 0 0 110px;
  }

  .previous-dev-projects,
  .previous-ux-projects {
    font-size: 25px;
    margin: 10px 0 20px 0;
  }
}

@media (min-width: 993px) and (max-width: 1280px) {
  .straightened {
    display: flex;
  }

  .dev-project-board,
  .ux-project-board {
    width: 500px;
    height: 680px;

    margin: 70px 0 0 10px;
  }

  .previous-dev-projects,
  .previous-ux-projects {
    font-size: 25px;
    margin: 10px 0 20px 0;
  }
}

@media (max-width: 992px) {
  .together {
    display: block;
  }

  .together span {
    font-family: sans-serif;
  }

  .dev-project-board,
  .ux-project-board {
    width: 700px;
    height: 700px;

    margin: 70px 0 0 10px;
  }

  .previous-dev-projects,
  .previous-ux-projects {
    font-size: 25px;
    margin: 10px 0 20px 0;
  }
}

@media (max-width: 768px) {
  .dev-project-board,
  .ux-project-board {
    width: 500px;
    height: 700px;

    margin: 30px 0 0 10px;
  }

  .previous-dev-projects,
  .previous-ux-projects {
    font-size: 25px;
    margin: 10px 0 20px 0;
  }
}

@media (max-width: 330px) {
  .dev-project-board,
  .ux-project-board {
    width: 500px;
    height: 700px;

    margin: 30px 0 0 60px;
  }

  .previous-dev-projects,
  .previous-ux-projects {
    font-size: 25px;
    margin: 10px 0 20px 0;
  }
}

/* ===== PROJECT INFORMATION DECORATION ====== */
/* <<<<<< POP-UP WINDOW DECORATION >>>>>> */
.pop-up-window-button {
  border: none;
}

.pop-up-window {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pop-up-window-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 30px;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* <<<<<< FOOTBALL >>>>>> */
.football-div {
  margin: -30px 0 0 0;
}
.flexible {
  display: flex;
}

.football-window-image {
  width: 800px;
  height: 500px;
}

.normal {
  display: block;

  text-align: left;

  padding: 20px;
}

.question {
  font-size: 25px;
  text-decoration: underline;
}

.answer {
  font-size: 20px;
}

/* <<<<<< MINI LIST PROJECT >>>>>> */
.mini-list-div {
  margin: -20px 0 0 0;
}

#to-do-list-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#to-do-list-close:hover,
#to-do-list-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* <<<<<< MINI LIST PROJECT >>>>>> */
.guess-the-number-div {
  margin: -20px 0 0 0;
}

#guess-the-number-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  cursor: pointer;
}

#guess-the-number:hover,
#guess-the-number:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* <<<<<< NEWS TIMES PROJECT >>>>>> */
.times-div {
  margin: -20px 0 0 0;
}

#times-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  cursor: pointer;
}

#times:hover,
#times:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ===== FOOTER DECORATION ====== */
footer {
  padding: 20px;
}

.connect {
  border: 1px solid rgba(211, 211, 211, 0.348);
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.871);

  margin: 20px 75px 0 100px;
}

.contact-title {
  text-align: center;
}

.line {
  display: flex;
}

.line a {
  font-size: 25px;
  text-decoration: none;
  color: black;

  margin: 15px 0 0 30px;
}

.line a:hover {
  color: blue;
  text-decoration: underline;
}

.line a:hover::after {
  color: purple;
  text-decoration: underline;
}

.linkedin {
  width: 50px;
  height: 45px;

  margin: 10px 0 0 50px;
}
