@media (min-width: 769px) and (max-width: 1600px) {
  /* ===== NAVIGATION IN MOBILE ENVIRONMENT ====== */
  .topnav {
    display: none;

    overflow: hidden;
    background-color: #333;
    position: relative;
  }

  .topnav #navlinks {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #04aa6d;
    color: white;
  }
}

@media (max-width: 768px) {
  #main-nav {
    display: none;
  }
  /* ===== NAVIGATION IN MOBILE ENVIRONMENT ====== */
  .topnav {
    display: block;

    overflow: hidden;
    background-color: #333;
    position: relative;

    cursor: pointer;
  }

  .nav-menu {
    width: 70px;
    height: 50px;

    cursor: pointer;
  }

  .x-button {
    display: none;

    width: 70px;
    height: 50px;

    cursor: pointer;

    margin-left: 407px;
  }

  .image-column {
    background-color: white;
  }

  .topnav #nav-links {
    display: none;

    cursor: pointer;
  }

  .topnav a {
    text-decoration: none;
    font-size: 15px;

    color: white;
    width: 600px;
    height: 50px;

    padding: 10px 7px;
    display: block;
  }

  .topnav a.icon {
    background: black;
    display: block;

    position: absolute;

    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #04aa6d;
    color: white;
  }
}

@media (max-width: 330px) {
  #main-nav {
    display: none;
  }

  /* ===== NAVIGATION IN MOBILE ENVIRONMENT ====== */
  .topnav {
    display: block;

    overflow: hidden;
    background-color: #333;
    position: relative;

    cursor: pointer;
  }

  .nav-menu {
    width: 70px;
    height: 50px;

    cursor: pointer;
    margin-left: 200px;
  }

  .x-button {
    display: none;

    width: 70px;
    height: 50px;

    cursor: pointer;

    margin-left: 200px;
  }

  .image-column {
    background-color: white;
  }

  .topnav #nav-links {
    display: none;

    cursor: pointer;
  }

  .topnav a {
    display: block;
    color: white;
    font-size: 15px;

    text-decoration: none;
    padding: 10px 7px;
  }

  .topnav a.icon {
    background: black;
    display: block;

    position: absolute;

    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .active {
    background-color: #04aa6d;
    color: white;
  }
}
